*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body{
    text-align: center;
    background-image: url("images/img1.jpg");
    background-size: 100%;
}

.nome{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px #8b8b8b;
}

.p1 {
    padding-top: 1em;
    padding-bottom: 2em;
    font-style: bold;
    font-size: 2ch;
    color: #fff;
    max-width: 50em;
    max-height: 5em;
    text-align: center;
    display: inline-block;
}

.p1 strong{
    color: #6bf5eebd;
    text-shadow: 2px 2px #036161bd;

}

.geleia {
    display: flex;
    justify-content:space-around;
    height: 360px;
}

