*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-style: normal;
}
body{
    text-align: center;
    background-image: url("images/img1.jpg");
    background-size: 100%;
}

.header{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px #8b8b8b;

}

.header a{
    text-decoration: none;
    color: #fff;
}

.header a:hover {
    font-size:large;
}

.p1 {
    padding-top: 1em;
    padding-bottom: 2em;
    font-style: bold;
    font-size: 2ch;
    color: #fff;
    max-width: 50em;
    max-height: 5em;
    text-align: center;
    display: inline-block;
}

.p1 strong{
    color: #6bf5eebd;
    text-shadow: 2px 2px #036161bd;
}

#principal{
    display: flex;
    margin: auto;
    justify-content: space-around;
}


.geleia {

    border: 3px solid #036161bd;
    min-width: 20em;
    min-height: 20em;
    align-items: center;

}

.geleia p {
    margin-left: 10em;
    width: 10em;
    font-size: 2ch;
    text-decoration: none;
    color: #fff;
    border: 2px solid #036161bd;
    border-radius: 10px ;
}

.geleia p:hover{
    border: 4px solid #024e4ebd;
}

